body {
  font-family: sans-serif;
}

.library-container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: 10vh 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}
.library-heading {
  grid-area: header;
  background-color: aqua;
}
.library-sidebar {
  grid-area: sidebar;
  background-color: cadetblue;
}
.library-main {
  grid-area: main;
  background-color: cornflowerblue;
}
