/* Presets for the body

*/
body {
  /* border: 1px solid black; */
  font-family: sans-serif;

  width: 70vw;
  padding: 0;
  margin: 0;
}

/* presets for the form container (this form will be hidden from the user until it is activated to add a book

*/
.book-form-container {
  position: absolute;
  background-color: rgb(89, 89, 255);
  display: none;
  justify-content: center;
  border: 1px solid red;
  height: 70%;
  width: 50%;
  margin-left: 10%;
  margin-top: 2%;
  grid-template-columns: 70%;
  z-index: 1;
}
.book-form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "form-title"
    "form-book"
    "form-read";
}

.form-heading-container {
  grid-area: form-title;
}

.form-heading {
  font-size: 2rem;
}
.form-required {
  font-style: italic;
}
.input-start {
  font-weight: bold;
}
.input {
  grid-area: form-book;
}
#title {
  width: 50%;
}
#author {
  width: 46.8%;
}
#pages {
  width: 8%;
}

.read {
  grid-area: form-read;
}
.read-start {
  font-weight: bold;
}
.submit-btn {
  padding: 5px;
  width: 6em;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}
/* Presets for the library container

*/
.library-container {
  /* Change back to grid after completing form container!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  display: grid;
  position: relative;
  /* background-color: aqua; */

  width: 100%;
  grid-template-columns: 10.5% 1fr;
  grid-template-rows: 15% 1fr;
  grid-template-areas:
    "heading heading"
    "sidebar main";
}

/* Styles for the heading element of the html

*/
.library-heading {
  display: grid;
  align-items: center;
  align-content: center;
  background-color: #c47501;
  grid-area: heading;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 100%;
}
.heading-background {
  display: grid;
  grid-template-rows: 1fr;
}
.bg-image {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  width: 70%;
}
.heading {
  margin-left: 32.5%;
  font-size: 3.5rem;
}

/* Styles for the sidebar elements of the html

*/
.library-sidebar {
  background-color: rgb(63, 63, 255);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-area: sidebar;
}
.add-book {
  background-color: rgb(158, 158, 160);
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
}
.book-img {
  width: 4em;
}

/* Styles for the main elements of the html

*/
.library-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 90%;
  grid-area: main;
  grid-template-areas:
    "main-heading"
    "main-books";
}
.main-heading-container {
  align-items: center;
  align-content: center;
  align-self: center;
  border-radius: 2rem;
  margin-left: 36%;
  grid-area: main-heading;
}
.main-heading {
  position: relative;
  font-size: 2.5rem;
  margin: 1rem;
}

.book-container {
  margin-left: 1rem;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-area: main-books;
}

.book-block {
  display: grid;
  padding: 3px;
  border-radius: 1rem;
  border: 2px solid blue;
  width: 90%;
  height: 70%;
  background-color: rgb(151, 151, 151);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "card-body"
    "card-button";
}
.card-body {
  grid-area: card-body;
}

.book-title {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 1.5rem;
}

.book-author,
.book-pages,
.book-read {
  font-weight: bold;
  font-size: 1rem;
}
.card-buttons {
  grid-area: card-button;
  display: grid;
  width: 30%;
  align-content: center;
  grid-template-columns: repeat(2, 10em);
}

.block-img {
  height: 1.5rem;
}
.delete,
.edit {
  cursor: pointer;
  margin-left: 5rem;
  border-radius: 3px;
  background-color: blue;
  height: 2rem;
  width: fit-content;
  border: none;
}
